[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
watchdog = "*"
flake8 = "*"
faker = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-mail = "*"
flask-ckeditor = "*"
flask-bootstrap = "*"
flask-moment = "*"
python-dotenv = "*"
pygig = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
flask-migrate = "*"
gunicorn = "*"
wtforms = "*"
email-validator = "*"
"psycopg2" = "*"

[requires]
python_version = "3.8"
